<style>
    body {
        background-image: url("https://img.freepik.com/free-photo/travel-concept-with-landmarks_23-2149153256.jpg?w=2000");
        background-size: auto;
    }

    table {
        background-color: snow;
        margin-left: auto;
        margin-right: auto;
        border-style: solid;
        width: 50%;
    }

    h1 {
        font-family: 'Maiandra GD';
        color: snow;
        text-align: center;
        vertical-align: middle;
        font-size: 50px;
    }

    td, tr {
        font-family: 'Maiandra GD';
        font-size: 24px;
        text-align: center;
        vertical-align: middle;
    }

    h3 {
        font-family: 'Maiandra GD';
        font-size: 30px;
        text-align: center;
        vertical-align: middle;
        color: #ff1a1a;
    }

    input {
        height: 30px;
        text-align: center;
        vertical-align: middle;
        font-family: 'Times New Roman';
        font-size: medium;
    }

        input.check {
            margin-left: auto;
            margin-right: auto;
        }

    a {
        color: #1cc49d;
    }

        a.option {
            font-size: 140%;
            padding: 3px;
            background-color: black;
            margin: 4px;
        }

    input[type=radio] {
        border: 0px;
        width: 15%;
        height: 2em;
    }

    input.submit {
        color: #1cc49d;
        background-color: #1b2f31;
        border-radius: 50px;
        justify-content: center;
        align-items: center;
        height: 3em;
        width: 8em;
        font-size: large;
        font-weight: 600;
        margin-left: auto;
        margin-right: auto;
    }


    div.grid-container {
        background-color: snow;
        display: grid;
        padding: 10px;
        border-style: solid;
        margin: 10px;
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    div.grid-item {
        font-family: 'Maiandra GD';
        font-size: 30px;
        text-align: center;
        display: inline-grid;
        background-color: cornflowerblue;
        border-style: solid;
        margin: 1px;
    }

</style>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Add ski slope state</h1>
<h3>@ViewData["Error"] </h3>


<form action="~/SkiSlopeState/Add" method="post">
    <div class="grid-container" style="width: 50%">
        <div class="grid-item" style="grid-column:1; grid-row:1">
            Place
            <input required type="text" name="Place" />
        </div>
        <div class="grid-item" style="grid-column:1; grid-row:2">
            Slope number:
            <input required type="number" name="Number" />
        </div>
        <div class="grid-item" style="grid-column:1; grid-row:3">
            Name:
            <input required type="text" name="Name" />
        </div>
        <div class="grid-item" style="grid-column:1; grid-row:4">
            Condition:
            <input type="radio" name="Condition" value="1" />
            <input type="radio" name="Condition" value="2" />
            <input type="radio" name="Condition" value="3" />
        </div>
        <div class="grid-item" style="grid-column:1; grid-row:5">
            Details:
            <input required type="text" name="Details" />
        </div>

        <div class="grid-item" style="grid-column:1; grid-row:6; background-color:white">
            <input required type="submit" class="submit" value="Submit" />
        </div>
    </div>
</form>